<%- include("../partials/header") %>
<div class="row">
    <div class="col-md-3">
        <div id="map"></div>
    </div>
    <div class="col-md-9">
        <div class="card mb-3">
            <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name%>">
            <div class="card-body">
                <p class="float-right">
                    $<%= campground.cost %>/night
                </p>
                <h5 class="card-title"><%= campground.name %></h5>
                <hr>
                <p class="card-text"><%= campground.description%></p>
                <a class="btn btn-danger" href="/campgrounds/<%=campground._id%>/edit">Edit Campground</a>
                <form action="/campgrounds/" method="POST">
                    <a class="btn btn-danger" href="/campgrounds/<%=campground._id%>?_method=DELETE">Delete Campground</a>
                </form>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <a class="btn btn-success" href="<%= campground._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <div class="row">
                    <% campground.comments.forEach(function(comment){ %>
                        <div class="col-md-12 mb-2">
                            <div class="card">
                                <div class="float-left">
                                    <p class="card-title"><%= comment.author.username %></p>
                                    <p class="card-text"><%= comment.text %></p>
                                </div>
                                
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>