<%- include("../partials/header") %>
<div class="row">
    <div class="col-md-3">
        <div id="map"></div>
    </div>
    <div class="col-md-9">
        <div class="card mb-3">
            <img class="card-img-top img-responsive" src="<%= campground.image %>" alt="<%= campground.name%>">
            <div class="card-body">
                <p class="float-right">
                    $<%= campground.cost %>/night
                </p>
                <h5 class="card-title"><%= campground.name %></h5>
                <hr>
                <p class="card-text"><%= campground.description%></p>
                <p>
                    <em>Submitted By <% campground.author.username %></em>
                </p>
                <div class="camp-actions">
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-dark camp-action-item" href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
                        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger camp-action-item">Delete</button>
                        </form>
                    <% } %>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <a class="btn btn-success" href="<%= campground._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <div class="row">
                    <% campground.comments.forEach(function(comment){ %>
                        <div class="col-md-12 mb-2">
                            <div class="card">
                                <div class="float-left">
                                    <p class="card-title"><%= comment.author.username %></p>
                                    <p class="card-text"><%= comment.text %></p>
                                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                        <a class="btn btn-dark camp-action-item" href="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>/edit">Edit</a>
                                        <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                            <input type="submit" class="btn btn-danger camp-action-item" value="Delete">
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>